.logo{
    img{
       height: 40px;

    }
}
nav{
    background-color: var(--background-color);
    padding: 24px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: transparent;
    box-sizing: border-box;
    @media screen and (max-width: 1100px) {
        padding: 18px 24px;
    }
}
.nav-list{
    display: flex;
    justify-content: right;
    margin: 0;
    align-items: center;
    list-style: none;
}
.nav-item{
    padding: 8px 24px;
    color: var(--nav-text-color);
    font-size: 16px;
    line-height: 24px;
    font-family: GeistMono, monospace;
    font-weight: 500;
    cursor: pointer;
    a{
        padding: 8px 24px;
        color: var(--nav-text-color);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Unbounded' !important;
        font-weight: 400;
        cursor: pointer;
        letter-spacing: 1px;
        text-decoration: none;
    }
    a:hover{
    color: var(--nav-text-hover);
    }
}
.nav-item:hover{
    color: var(--nav-text-hover);
}

.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    svg{
        fill: var(--nav-text-color);
        margin: 4px;
        transition: all 0.3s;
    }
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: var(--nav-text-color);
    margin: 4px;
    transition: all 0.3s;
}

@media (max-width: 1100px) {
    .nav-list {
        display: none; 
        flex-direction: column;
        position: absolute;
        background-color: var(--background-color);
        top: 64px; 
        right: 0;
        width: 100%;
    }

    .nav-list.active {
        display: flex;
    }

    .hamburger {
        display: flex; 
        justify-content: center;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.close {
    color: var(--nav-text-color);
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    fill: var(--text-color);
    padding: 24px;
}

.modal-nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 80px;
    text-align: center;
}

.modal-nav-list .nav-item {
    margin: 10px 0;
}


.resume-button{ 
    margin: 0 20px; 
    a {
        display: inline-block; 
        padding: 14px 16px;
        border-radius: 57px;
        font-size: 14px;
        line-height: 12px;
        font-weight: 700;
        text-align: center;
        background-color: #B7D7B7;
        color: red;
        font-family: GeistMono, monospace;
        cursor: pointer;
        letter-spacing: 2px;
        position: relative; 
        overflow: hidden;
        border: 1px solid #B7D7B7;
    }
    
   
    a::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--hover-button-background);
        transition: top 0.5s ease;
        -webkit-transition: top 0.5s ease;
        z-index: 0; 
        border-radius: 30px;

    }
    a span {
        position: relative;  
        z-index: 1; 
        transition: color 0.7s ease;
        -webkit-transition: color 0.7s ease;
    }

    a:hover::before {
        top: 0; 
    }
    a:hover span {
        color: var(--hover-text-color);
    }
    @media screen and (max-width:1100px) {
        text-align: center;
    }
}