@use 'nav' as *;
@use 'home' as *;

body{ 
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #C1E1C1 !important;
    overflow-x: hidden;
}

h1{
    font-family: 'Unbounded' !important;
    font-weight: 700;
}

h2{
    font-family: 'Unbounded' !important;
    font-weight: 600;
}

h3{
    font-family: 'Unbounded' !important;
    font-weight: 500;
}


  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #5cb85c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  .hidden {
    display: none;
  }
  