{% load static %}
<!DOCTYPE html>
<html lang="sr">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{{ page.title }}{% endblock %}</title>
      <link rel="icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
      {% block head %}
      {% endblock %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
   </head>
   <body>
      {% block navigation %}
         {% for block in page.navigation %}
            {{ block }}
         {% endfor %}
      {% endblock %}

      {% block main %}{% endblock %}

      {% block footer %}
         {% for block in page.footer %}
            {{ block }}
         {% endfor %}
      {% endblock %}

      <footer style="padding: 20px; text-align: center; font-size: 0.9rem;">
         <p>Brewed with love by a Wagtail & tea lover from Serbia</p>
         <p>&copy; 2025 Tea Lover. All rights reserved.</p>
      </footer>
      <script type="module" src="{% static 'js/yorkteahaven.js' %}"></script>
   </body>
</html>
