{% load wagtailimages_tags %}


<section class="hero" id="hero">
    <div class="hero-left">
       <div class="cup-container">
        <img src="{{ self.image.file.url }}" alt="{{ self.image.alt }}" class="tea-cup">
          <div class="steam"></div>
          <div class="steam"></div>
          <div class="steam"></div>
       </div>
    </div>
    <div class="hero-right">
       <h1>{{ self.title }}</h1>
       <p>{{ self.description }}</p>
         <a href="{{ self.button_link }}" class="cta-button">{{ self.button_text }}</a>
    </div>
 </section>