{% load wagtailimages_tags %}

<section class="famous-teas" id="famous-teas">
    <div class="container">
       <h2 class="section-title">{{ self.title }}</h2>
       <div class="cards">
        {% for tea in self.teas %}
          <div class="card">
             <div class="card-image">
                <img src="{{ tea.image.file.url }}" alt="{{ tea.image.alt }}">
             </div>
             <div class="card-description">
                <h3>{{ tea.name }}</h3>
                <p>{{ tea.description }}</p>
             </div>
          </div>
        {% endfor %}
       </div>
    </div>
 </section>